.slimscroll-menu {
    overflow: auto !important;
    width: auto;
    height: auto !important;
}

.slimScrollDiv {
    position: relative !important;
    /* overflow: hidden; */
    width: auto !important;
    height: auto !important;
}