<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->
<!-- main app container -->
<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->
<app-header *ngIf="commonSer.getLoginDetail().isUserLogin">

</app-header>
<app-sidebar *ngIf="commonSer.getLoginDetail().isUserLogin">

</app-sidebar>

<div class="content-wrapper" *ngIf="commonSer.getLoginDetail().isUserLogin">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
<div class="main-footer" *ngIf="commonSer.getLoginDetail().isUserLogin">
  <!-- start page title -->
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright © 2020-2021 <a [routerLink]="'/'">Nordy</a>.</strong> All rights reserved.
    </div>
  </div>
</div>
<div *ngIf="!commonSer.getLoginDetail().isUserLogin">
  <router-outlet></router-outlet>
</div>


