
.nav-pills{
    & + .tab-content{
        background-color: rgba(51, 122, 183, 0.02);
        padding: 15px 0;
    }
}

.nav-stacked {
    float: left;
    min-width: 210px;
    & + .tab-content{
        margin-left: 210px;
        padding: 0 15px;
    }
    li{
        border-bottom-color: transparent;
        a{
            border-bottom-color: transparent;
            border-right-width: 0px !important;
            border-left-width: 2px;
            margin: 0;
            // &:hover{

            // }
        }
        &.active{
            a{
                background: #ecf0f5;
                color: #353535;
                border-top: 0;
                border-color:  #ecf0f5;
                border-left-color: #3c8dbc;
                margin: 0;
                border-bottom-color: transparent;
                &:hover{
                    background: #ecf0f5;
                    color: #353535;
                    border-top: 0;
                    border-left-color: #3c8dbc;
                    margin: 0;
                }
            }
        }
    }
}
#qProduct__submitedData{
    transition: all 0.3s ease 0s;
}
#qProduct__submitedData.active.in {
    margin: 0;
    margin-left: -210px;
}
// #qProduct__form{
//     .content-header{
//         display: none;
//     }
//     .box-header{
//         display: none;
//     }
//     .box.box-info{
//         border: none;
//         padding: 0;
//         background-color: transparent;
//     }
// }
tr{
    .fa{
        cursor: pointer;
    }
    .fa-minus{
        display: none;
    }
    .quotationTableSubData{
        ul{
            padding: 0 7px;
            list-style-type: none;
            margin:0;
            height: 100%;
            transition: all 0.2s ease-in-out 0s;
            max-height: 0;
            overflow: hidden;
            background: #fff;
            li{
                margin-bottom: 3px;
                b{
                    padding-right: 7px;
                }
            }
        }
    }
    &.active{
        .quotationTableSubData{
            ul{
                padding: 15px 7px;
                max-height: 451px;
                overflow: initial;
            }
        }
        .fa-minus{
            display: inline;
        }
        .fa-plus{
            display: none;
        }
    }
}